<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<a th:href="@{/}">Home</a><br><br>
<a th:href="@{/blog}">Back to list</a>
<h3>Delete Blog</h3>
<form th:action="@{/blog/delete}" method="post" th:object="${blog}">
    <input th:type="hidden" name="id" th:field="*{id}">

    <label><b>Title</b></label><br>
    <p th:text="${blog.title}"/></p>

    <label><b>Category</b></label><br>
    <p th:text="${blog.category.categoryName}"/></p>

    <label><b>Content</b></label><br>
    <p th:text="${blog.content}"/></p>
    <input type="submit" th:value="Delete">
</form>

</body>
</html>